{% extends "profile/base.html" %}

{% block content %}
<div class="container" style="padding-top: 0px">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="card">
        <img class="cover" src="https://wallpapercave.com/wp/PSksftM.jpg" alt="cover" />
        <img class="picture img-circle" src="http://orig12.deviantart.net/e40f/f/2012/239/a/d/aang_facebook_default_profile_picture_by_redjanuary-d5cm82l.png" alt="profpic" />
        <h1>Selamat datang, {{ nama }}</h1>
        <h3>lihat forum</h3>
        <h3>Jumlah Status</h3>
        <h3>Tidak ada status terbaru</h3>
      </div>
    </div>
  </div>
</div>

<div class="container" style="padding-top: 30px; padding-bottom:40px">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <a class="postStatus btn btn-info btn-lg btn-block" style="float:left; " href ="{% url 'profile_me:update' %}">Change Profile</a>
      </div>
  </div>
</div>

<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="active">
            <a href="#profile" aria-controls="home" role="tab" data-toggle="tab"> Profile </a>
        </li>
        <li role="presentation">
            <a href="#riwayat" aria-controls="settings" role="tab" data-toggle="tab"> Riwayat </a>
        </li>
        <li role="presentation">
            <a href="#updatestat" aria-controls="settings" role="tab" data-toggle="tab"> Update Status </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="profile">
            {% include 'profile_iner.html' %}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="riwayat">
            {% include 'riwayat/riwayat.html' %}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="updatestat">
            {% include 'status/status.html' %}
        </div>
    </div>
</div>


{% endblock %}