<div class="panel-body">
    <table class="table">
        <tbody>
        <tr>
            <td> Nama </td>
            <td> {{ nama }}</td>
        </tr>
        <tr>
            <td> NPM </td>
            <td> {{ npm }}</td>
        </tr>
        <tr>
            <td> Email </td>
            {% if email %}
            <td> {{ email }}</td>
            {% else %}
            <td> Not Set </td>
            {% endif %}
        </tr>
        <tr>
            <td> Keahlian </td>
            <td>
                {% if keahlian %}
                    {% for keahliannya in keahlian %}
                    <div class = "{{keahliannya.1}}">{{ keahliannya.0 }}</div>
                    {% endfor %}
                {% else %}
                <div class = "none">Not Set</div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td> Profile LinkedIn </td>
            {% if profile_link %}
            <td> {{ profile_link }} </td>
            {% else %}
            <td> Not Linked </td>
            {% endif %}
        </tr>
        </tbody>
    </table>
</div>