{% extends "profile/base.html" %}
{% block content %}
<div class = "container">
    Link to your linkedin<br>
    <a href ="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=81gg7azbk3idvt&redirect_uri=https%3A%2F%2Fwww.example.com%2Fauth%2Flinkedin&state=987654321&scope=r_basicprofile,r_emailaddress" class ="">link to linkedin</a>
    <br>
    Tampilkan Nilai
    <form id = 'tampilkan'>
        <input type="radio" name="tampil" value="ya">Ya<br>
        <input type="radio" name="tampil" value="tidak">Tidak
    </form>
    Keahlian
    <div class = "container-select" id = "selecting">
        <select class="skill"></select>
        <select class="level"></select>
    </div>

    <button class="postStatus btn btn-info btn-lg btn-block" id = "tambah_keahlian">Tambah Keahlian</button>
    <button class="postStatus btn btn-info btn-lg btn-block" id = "save">Save</button>

</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key: 81gg7azbk3idvt
    onLoad: onLinkedInLoad()
    authorize: true
    lang:      
</script>

<script type="text/javascript">
    var email = '';
    var foto = '';
    // Setup an event listener to make an API call once auth is complete
    function onLinkedInLoad() {
        IN.Event.on(IN, "auth", getProfileData);
    }

    // Handle the successful return from the API call
    function onSuccess(data) {
        email = data.email-address;
        foto = data.public-profile-url;
    }

    // Handle an error response from the API call
    function onError(error) {
        console.log(error);
    }

    // Use the API call wrapper to request the member's basic profile data
    function getProfileData() {
        IN.API.Raw("/people/~:(first-name,last-name,headline,email-address,picture-url,public-profile-url)").result(onSuccess).error(onError);
    }

    $('#tambah_keahlian').on('click', function(){
        var satu = '<select class="skill"></select>';
        var dua = '<select class="level"></select>';
        $('#selecting').append(satu);
        $('#selecting').append(dua);
    })

    $('#save').on('click'), function(){
        var ahlian = document.getElementsByClassName("skill");
        var tingkat = document.getElementsByClassName("level");
        var yaTidak = $('input[name=tampil]:checked', '#myForm').val();
        $.ajax({
            method: "POST",
            url: "{% url 'profile_me:updatedata' %}",
            data: {'ahli':ahlian, 'tingkat':tingkat, 'yatidak':yaTidak, 'email':email, 'urlpic':foto },
            success: function (results)
            {

            }
        });
    }
</script>

{% endblock %}