{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="LAB 9">
    <meta name="author" content="{{author}}">

    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet" />
    <link rel = "stylesheet" href = "{% static 'css/boostrap-social.css' %}" />
    <link rel = "stylesheet" href = "{% static 'css/profile.css' %}" />

    <title>
        hhehe
    </title>
</head>
<body>
<header>
    <h1 style="text-align:center">
        <small><em> WELCOME! you are now in "drone collection list" website <i class="em em-face_with_one_eyebrow_raised"></i>
        {% if logintrue %}    
            <a href="{% url 'login:auth_logout' %}" class="btn btn-danger" onclick="return confirm('Logout?')">Logout </a>
        {% endif %}
        </em></small>
    </h1>
    <!-- Your Header Here -->
</header>
<content>
    <div class="container">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert" id="django-messages">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-right: 15px;">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}

        {% block content %}
        {% endblock %}
    </div>
</content>
<footer>
    <hr>
    {% block footer %}
        {% include "footer.html" %}
    {% endblock %}
</footer>

<!-- Jquery n Bootstrap Script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
