{% extends "cari_mahasiswa/layout/base.html" %}
{% block content %}
<!-- List Movie -->
<div class="panel panel-info">
    <div class="panel-heading">
        <h2> List Movie </h2>
    </div>
	<div class="panel-body">
        <div style="margin:20px; padding:20px; background-color:lightsteelblue; border-radius:3px;">
            <form method="GET"  class="form-inline">
                <input type="text" class="form-control" id="parameter" onkeyup="myFunction()" name="parameter" placeholder="Search" title="Type in a parameter">
                <input type="radio" name="type" style="margin-left:20px" value="0" checked> NPM
                <input type="radio" name="type" style="margin-left:20px" value="1"> Nama
                <input type="radio" name="type" style="margin-left:20px" value="2"> Angkatan
                <input type="radio" name="type" style="margin-left:20px" value="3"> Keahlian
                <input type="radio" name="type" style="margin-left:20px" value="4"> Level
            </form>
        </div>
		<table id="friendTable" class="table">
            <thead>
            <th> NPM </th>
            <th> Nama </th>
            <th> Angkatan </th>
            <th> Keahlian </th>

            </thead>
			<tbody>
            {% for friend in friends %}
            <tr>
                <td> {{ friend.npm }}</td>
                <td> {{ friend.nama }}</td>
                <td> {{ friend.angkatan }}</td>
                <td>
                {% for keahlian in friend.keahlian.all %}
                <div class="{{ keahlian.tingkat }}">
                    {{keahlian.nama}}
                </div>
                {% endfor %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
function myFunction() {
  var input, filter, table, tr, td, i, type;
  input = document.getElementById("parameter");
  filter = input.value.toUpperCase();
  table = document.getElementById("friendTable");
  tr = table.getElementsByTagName("tr");
  console.log(tr);
  type = document.querySelector('input[name="type"]:checked').value;
  if(type<'3'){
    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[type];
        if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
  }
  else{
    for (i = 0; i < tr.length; i++) {

        td = tr[i].getElementsByTagName("td")[3];
        if (td) {
            div = td.getElementsByTagName("div");
            for(n=0; n<div.length; n++){
                if(type==3){
                    if (div[n].innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        break;
                    } else {
                        tr[i].style.display = "none";
                    }
                }
                else{
                    if (div[n].className.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        break;
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    }
  }

}
</script>

</body>
</html>

